* {
  box-sizing: border-box;
}
body {
  background-image: url("james.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.btn {
  background-color: rgb(255, 208, 0);
}

row {
  padding-left: 8%;
  align-self: center;
}

h1 {
  float: center;
  color:rgb(15, 158, 110)
  
}



